# Out files
**/result/
*.out

# Test pyfiles
test_darima.py
test_source.py
test_pandas_udf.py

# Test bash files
test_darima.sh
test_source.sh
test_pandas_udf.sh
.vscode/settings.json
darima/__pycache__/__init__.cpython-311.pyc
darima/__pycache__/dlsa.cpython-311.pyc
darima/__pycache__/evaluation.cpython-311.pyc
darima/__pycache__/forecast.cpython-311.pyc
darima/__pycache__/model.cpython-311.pyc
